<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong Password - Rajdev Yadav</title>
    <style>
         @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f1f1ff;
        }
      
        .container h1{
            font-size: 5rem;
            background-color: #fff;
            color: #097;
            padding: 1rem 2rem;
            border-radius: 10px;
        }
      .container p{
        padding: 2rem;
        border-radius: 10px;
        margin-top: 2rem;
        text-align: center;
        background-color: #097;
        color: white;
      }
    </style>
</head>
<body>
    <div class="container">
        <h1>Most Welcome ❤️ </h1>
        <p>A Leader is One Who Knows the Ways, Goes the Ways and Shows the Ways.</p>
    </div>
</body>
</html>